//Configuracion visual de ltitulo, para que el mismo este en el centro
.titulo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

//Metodo para estilo de las cartas, en este se indica que imagen tiene la carta y si este se repetira o no
//Tambien el tama;o de las mismas imagnes
.card {
  //z-index: 1;
  //background-color: #ffc0cb;
  background-image: url("./images/sm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100px;
  height: 100px;
  margin: 10px;
  width: 21.5%;
  height: 21.5%;
  transition: opacity 1s ease-in-out;

}

//Estilo del board, declaramos como se hara el despliegue del board y la imagen de fondo del mismo
.board {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  background-image: url("./images/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


  





